header,
footer {
    margin: 0;
    text-align: center;
    background-color: rgb(255, 102, 170);
    background-image: url("header_triangles.png");
    color: white;
    padding: 1em;
}

body {
    margin: 0;
    background-image: url("page-light.png");
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.small {
    font-size: 0.5em;
    font-style: italic;
}
.container {
    margin: auto;
    max-width: 55em;
    background-color: white;
    border-radius: 10px;
    padding: 1em;
}
.button {
    display: flex;
    width: 3.5em;
    text-decoration: none;
    color: black;
    padding: 1em;
    background-color: rgb(255, 102, 170);
    border-radius: 7px;
    margin: 1em;
}
.button:hover {
    background-color: rgb(179, 71, 119);
}
@media screen and (max-width: 50em){
    .small {
        font-size: 0.5em;
        font-style: italic;
    }
    .container {
        margin: auto;
        background-color: white;
        border-radius: 10px;
        margin: 1em;
        padding: 1em;
    }
    .button {
        display: flex;
        width: 3.5em;
        text-decoration: none;
        color: black;
        padding: 1em;
        background-color: rgb(255, 102, 170);
        border-radius: 7px;
        margin: 1em;
    }
    .button:hover {
        background-color: rgb(179, 71, 119);
    }